@model Hotel.Models.Permiso

<div>
    <h3>Detalles del Permiso</h3>
    <table class="table table-bordered" style="width: 50%;">
        <tr>
            <td style="width: 30%; font-weight: bold;">Nombre del Permiso:</td>
            <td>@Model.Nombre</td>
        </tr>
    </table>
</div>