@model Hotel.Models.Comodidade

@{
    ViewData["Title"] = "Crear Comodidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Comodidades/CreateComodidades.css">

<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h2 class="text-center mb-4">@ViewData["Title"]</h2>
        <div class="card-body">
            <form id="comodidadeForm" asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="Nombre" class="form-label">
                        <span class="iconify icon" data-icon="mdi:information"></span> Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Descripcion" class="form-label">
                        <span class="iconify icon" data-icon="mdi:note-text"></span> Descripción</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Imagen" class="form-label">
                        <span class="iconify icon" data-icon="mdi:image"></span> Imagen</label>
                    <input asp-for="Imagen" class="form-control" />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardad</button>
                    <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scriptReservas/reservaCreate.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}